h1 a {
    text-decoration: none;
    color: #302f6e !important;
}

#notes {
    margin-bottom: 20px;
}

#loading {
    position: relative;
    left: 44%;
    width: 0;
    height: 0;
    border-right: 5vw solid #f77e4d;
    border-top: 5vw solid #f7d34d;
    border-left: 5vw solid #302f6e;
    border-bottom: 5vw solid #000b20;
    border-radius: 5vw;
    -moz-border-radius: 5vw;
    -webkit-border-radius: 5vw;
    animation: load 1.5s linear 0s infinite;
    -moz-animation: load 1.5s linear 0s infinite;
    -webkit-animation: load 1.5s linear 0s infinite;
}

dl {
    width: 100%;
    border: 1px solid #f77e4d;
    border-left: 10px solid #f77e4d;
    padding: 10px;
    background-color: rgba(250, 229, 150, 0.7);
}

dt {
    font-weight: bold;
    margin-bottom: 5px;
}

dt:not(:first-child) {
    margin-top: 20px;
}

li:not(:first-child), li > ul > li {
    margin-top: 10px;
}

table.bordered td {
    margin-top: 20px;
    border: 1px solid #000b20;
    padding: 10px;
}

.tags-aside {
    float: right;
    padding: 5px;
    background-color: rgba(48, 47, 110, 0.2);
}

@keyframes load {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-moz-keyframes load {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes load {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}