html {
    touch-action: manipulation;
}

body {
    padding: 20px 0;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1 {
    margin-top: 0;
    color: #E6AA68;
    -webkit-transition: text-shadow 0.3s ease-in;
    -moz-transition: text-shadow 0.3s ease-in;
    -o-transition: text-shadow 0.3s ease-in;
    -ms-transition: text-shadow 0.3s ease-in;
    transition: text-shadow 0.3s ease-in;
    cursor: default;
}

h1:hover {
    -webkit-stroke-width: 5px;
    -webkit-stroke-color: white;
    -webkit-fill-color: white;
    text-shadow: 1px 0 20px #ECDFBD;
}

#bottom_toolbar {
    margin-top: 15px;
    width: 100%;
    text-align:center;
}

#bottom_toolbar > div {
    width: 590px;
    margin: 0 auto 10px auto;
    text-align: center;
}

#top_toolbar {
    margin-bottom: 15px;
    width: 100%;
    text-align:center;
}

#top_toolbar > div {
    width: 590px;
    margin: 0 auto;
    text-align: left;
}

canvas {
    background-color: rgba(32, 69, 124, 0.4);
    -webkit-filter: none !important;
    filter: none !important;

    -webkit-box-shadow: 0 0 15px 5px #001427;
    -moz-box-shadow: 0 0 15px 5px #001427;
    box-shadow: 0 0 15px 5px #001427;

    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;

    margin:0 auto;

}

canvas.slider {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #001427;

    display: inline-block;
    vertical-align: middle;
}

#c {
    cursor: crosshair;
}

#result {
    margin: 20px 0;
    display: none;
}

button {
    padding: 10px 15px;
    background: rgba(32, 69, 124, 0.4);
    color: #ECDFBD;
    border: 1px solid #001427;

    text-transform: uppercase;
    font-weight: bold;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover, button:focus {
    -webkit-stroke-width: 5px;
    -webkit-stroke-color: white;
    -webkit-fill-color: white;
    text-shadow: 1px 0 20px #E6AA68;
    outline: none;
    background: rgba(32, 69, 124, 0.6);
}

.buttons-right {
    float:right;
}

.buttons-right button {
    margin: auto 0;
}

.button-group canvas {
    margin-right: 0;

    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #001427;

    display: inline-block;
    vertical-align: middle;
}

.button-group button {
    margin-left: 0;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    border-left: 0;

    display: inline-block;
    vertical-align: middle;

    height: 82px;
    padding: auto;
}

button small {
    font-size: 11px;
    text-transform: none;
    font-weight: normal;
}

#error_msg {
    width: 600px;
    margin:10px auto;
    padding: 10px;
    text-align: center;
    background-color: #FF9059;
    font-weight: bold;
    color: #001427;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 14px;

    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
}

.showcase > div {
    display: inline-block;
    color: #ECDFBD;
    width: 200px;
    padding: 10px;
    background-color: rgba(0, 20, 39, 0.6);
    border: 2px solid rgba(0, 20, 39, 0.8);
}